/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Micro-5";
  src: url(./assets/fonts/Micro-5.ttf) format('ttf');
}

body {
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
  font-family: "Micro-5", sans-serif;
}

.menu {
  height: 100%;
  width: 100%;
  background: rgb(213, 240, 195);
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-family: 'Jersey 10', sans-serif;
  font-size: 100px;
  animation: floating 4s ease-in-out infinite;
  margin-bottom: 30px;
}

h1 sup {
  font-size: 24px;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}

input {
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 25px;
  font-family: "Micro-5", sans-serif;
}

input:focus {
  outline: none;
}

button {
  padding: 15px;
  font-size: 25px;
  font-family: "Micro-5", sans-serif;
  border: none;
  border-radius: 5px;
  background: rgb(127, 187, 86);
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  font-weight: 800;
}

button:hover {
  opacity: 0.7;
  scale: 1.05;
  rotate: 10deg;
}

.container {
  position: absolute;
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  overflow: hidden;
}

.button {
  height: 64px;
  image-rendering: pixelated;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-user-drag: none;
  user-select: none;
}

.button:hover {
  opacity: 0.7;
  scale: 1.1;
  rotate: 10deg;
}

.bubble-modal {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  background-color: white;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px black solid;
}

.bubble-modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  -webkit-user-drag: none;
  user-select: none;
}

.bubble-modal-close:hover {
  opacity: 0.7;
}

.bubble-modal-input {
  bottom: 0;
  padding: 30px;
  font-family: 'Micro-5', sans-serif;
  font-size: 24px;
}

.bubble-modal p {
  height: min-content;
  width: 100%;
  padding: 30px;
  font-family: "Micro-5", sans-serif;
  font-size: 24px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #222;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.costume-modal {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  background-color: white;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px black solid;
  padding: 30px;
  padding-top: 60px;
  gap: 30px;
  overflow-y: scroll;
}

.costume-modal-close {
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 5px;
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  -webkit-user-drag: none;
  user-select: none;
  z-index: 10;
}

.costume-modal-close:hover {
  opacity: 0.7;
}

.costume {
  height: 150px;
  width: 150px;
  background-color: rosybrown;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.costume:hover {
  opacity: 0.7;
}

.costume img {
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%, 50%);
  width: 80%;
  image-rendering: pixelated;
}

.skirt {
  bottom: 70%!important;
}

.costume-modal h2 {
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 35px;
}

.battle-modal {
  display: none;
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  gap: 30px;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  animation: battle-in 2s cubic-bezier(.42,.22,.42,.85);
  transition: all 1s;
  opacity: 1;
}

@keyframes battle-in {
  0% {
    clip-path: circle(0% at 50% 50%);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    clip-path: circle(100% at 50% 50%);
  }
}

.vs {
  font-family: 'Jersey 10', sans-serif;
  font-size: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: vs-in 3s;
}

@keyframes vs-in {
  0% {
    transform: translate(-50%, -50%) scale(20);
    opacity: 0;
  }

  50% {
    transform: translate(-50%, -50%) scale(20);
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.battle-modal .left, .right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.battle-modal .left {
  background-color: crimson;
}

.battle-modal .right {
  background-color: crimson;
}

.battle-modal h2 {
  font-size: 70px;
}

.star {
  width: 200px;
  height: 200px;
  background-color: white;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  animation: star 0.2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-500%, -50%);
}

@keyframes star {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-500%, -50%);
  }
}

.settings-modal {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px black solid;
  padding: 30px;
  padding-top: 60px;
  /* gap: 30px; */
}

.settings-modal p {
  margin-top: 50px;
  font-size: 24px;
}

.settings-modal-close {
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 5px;
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  -webkit-user-drag: none;
  user-select: none;
  z-index: 10;
}

.settings-modal-close:hover {
  opacity: 0.7;
}

.settings-modal h2 {
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 35px;
}

label {
  font-size: 20px;
  margin-top: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 25px;
  background: black;
  outline: none;
  transition: all 0.3s;
  margin-top: 5px;
  border-radius: 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

.death {
  display: none;
  font-size: 200px;
  color: crimson;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}