:root {
    --primary: black;
    --secondary: white;
    --size: 150px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 20);
    color: var(--primary);
    font-family: 'Inter', sans-serif;
    /* overflow: hidden; */
    height: 100vh;
    position: relative;
}

button {
    background-color: var(--primary);
    padding: 5px 20px 5px 20px;
    color: var(--secondary);
    font-weight: 900;
    cursor: pointer;
    border: none;
    font-size: 23px;
    transition: all 0.3s;
}

button:hover {
    opacity: 0.7;
}

.new-project {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, min-content);
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
}

.colours {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary);
}

.colour {
    height: 20px;
    width: 20px;
    background-color: crimson;
    border-radius: 50px;
    cursor: pointer;
}

.colour-select {
    outline: var(--secondary) 2px solid;
    outline-offset: 3px;
}

.colour-1 {
    background-color: rgb(184, 39, 68);
}

.colour-2 {
    background-color: rgb(172, 54, 146);
}

.colour-3 {
    background-color: rgb(40, 53, 173);
}

.colour-4 {
    background-color: rgb(48, 161, 76);
}

.colour-5 {
    background-color: rgb(185, 157, 28);
}

input {
    background-color: var(--primary);
    padding: 15px;
    color: var(--secondary);
    font-weight: 500;
    border: none;
    font-size: 20px;
}

input:focus {
    border: none;
    outline: none;
}

.projects {
    position: relative;
    padding: 30px;
    top: 0;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.project {
    background-color: var(--primary);
    padding: 15px;
    color: var(--secondary);
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    width: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.project p {
    white-space: nowrap;
}

.project button {
    width: 60px;
    text-align: center;
    border-radius: 50px;
    font-size: 18px;
}

@keyframes working {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.reset {
    background-color: var(--primary);
    margin-left: auto;
}

.start {
    background-color: var(--primary);
}

.delete {
    background-color: crimson;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
}

.delete:hover {
    background-color: brown;
}

.dater {
    display: none;
}

.timer {
    display: none;
}

.stats {
    position: relative;
    left: 0;
    padding: 30px;
    height: 50vh;
}

h2 {
    text-align: left;
    color: var(--secondary);
}

.time-share {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    overflow: hidden;
}

.share {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
    word-break: break-all;
    padding: 0% 1% 0% 1%;
}

@media screen and (max-width: 800px) {
    body {
        width: 100vw;
        height: 100vh;
        /* overflow: hidden; */
    }

    .new-project {
        position: fixed;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: 1fr;
        border-radius: 5px;
        overflow: hidden;
    }

    .colours {
        height: 60px;
    }

    .projects {
        position: relative;
        padding: 30px;
        top: 0;
        display: grid;
        grid-template-columns: repeat(2, min-content);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .project {
        background-color: var(--primary);
        padding: 15px;
        color: var(--secondary);
        font-weight: 500;
        font-size: 14px;
        border-radius: 5px;
        width: 100;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        overflow: hidden;
    }

    .seconds {
        display: none;
    }

    .hours {
        display: none;
    }
}